.about {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4rem;

    @media (width < 500px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &__text-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__image {
        border: var(--border-glass);
        border-radius: var(--border-radius);
    }
}
