.blogs {
    &__title {
        margin-bottom: 4rem;
    }

    &__cards {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: var(--gap-card-wrapper);

        margin-bottom: 3rem;

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__card {
        overflow: hidden;

        border: var(--border-glass);
        border-radius: var(--border-radius);

        background-color: var(--bg-black);

        cursor: pointer;

        &:hover {
            -webkit-transform: translateY(-0.25rem);
            -ms-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);

            -webkit-box-shadow: var(--box-shadow);

            box-shadow: var(--box-shadow);
        }
    }

    &__card-text {
        padding: var(--padding);
    }

    &__card-title {
        color: var(--color-white);
    }
}
