.footer {
    &__wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        place-items: center;
        gap: 3rem;

        padding: 3rem 0;

        @media (width <= 1350px) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        }
    }

    &__wrapper-2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 1rem 0;

        background-color: var(--color-white);

        @media (width <= 350px) {
            display: none;
        }

        p {
            color: var(--color-black);
        }
    }

    &__company {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.5rem;

        p {
            color: var(--color-grey);
        }
    }

    &__subheader {
        color: var(--color-white);

        font-weight: 500;
    }

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 0.5rem;
    }

    span {
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);

        &:hover {
            color: var(--color-white);
        }
    }
}
