.gallery {
    &__subtitle {
        margin-bottom: 4rem;
    }

    &__image-wrapper {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--gap-card-wrapper);

        margin-bottom: 3rem;

        &:hover > .gallery__image:not(:hover) {
            -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
        }

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }
    }

    &__image {
        aspect-ratio: 1/1;

        border: var(--border-glass);

        -webkit-transition: var(--transition);

        -o-transition: var(--transition);

        transition: var(--transition);

        &:hover {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);

            -webkit-box-shadow: var(--box-shadow);

            box-shadow: var(--box-shadow);
        }
    }
}
