.header {
    &__image-grid {
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: var(--gap-card-wrapper);

        z-index: -2;

        -webkit-filter: brightness(0.8);
        filter: brightness(0.8);

        @media (width < 1800px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (width < 1800px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (width < 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (width < 700px) {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--gap-card-wrapper-small);
        }

        @media (width < 500px) {
            gap: 0;

            -webkit-filter: brightness(0.5);

            filter: brightness(0.5);
        }
    }

    &__image {
        aspect-ratio: 4/5;

        @media (width < 350px) {
            aspect-ratio: 2/3;
        }

        &:nth-last-child(-n + 2) {
            @media (width < 1800px) {
                display: none;
            }
        }

        &:nth-last-child(-n + 4) {
            @media (width < 1000px) {
                display: none;
            }
        }

        &:nth-last-child(-n + 6) {
            @media (width < 700px) {
                display: none;
            }
        }
    }

    &__text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;

        width: 90%;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

        transform: translate(-50%, -50%);
    }

    &__paragraph {
        margin-bottom: 1rem;

        font-size: 1rem;
        font-weight: 500;

        color: hsl(0, 0%, 80%);
    }
}
