.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__item {
        border: var(--border-glass);
        border-radius: var(--border-radius);

        background-color: var(--bg-frosted-white);
    }

    &__header {
        display: flex;
        align-items: center;

        position: relative;

        padding: 1.25rem;

        min-height: 3.5rem;

        cursor: pointer;

        font-weight: 500;
        line-height: 1.25rem;

        &::after {
            content: "\002B";

            position: absolute;
            right: 1rem;

            font-size: 2rem;

            color: var(--color-white);
        }
    }

    &__header.active::after {
        content: "\2212";
    }

    &__body {
        overflow: hidden;

        max-height: 0;

        transition: max-height 0.2s ease-out;
    }

    &__content {
        text-align: left;

        padding: 0 1.25rem 1.25rem 1.25rem;

        font-weight: 300;
        line-height: 1.5rem;

        color: var(--color-white);
    }
}
