.blogs {
    &__title {
        margin-bottom: 4rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-card-wrapper);
    }

    &__card {
        overflow: hidden;

        border: var(--border-glass);
        border-radius: var(--border-radius);

        background-color: var(--bg-black);

        cursor: pointer;

        &:hover {
            transform: translateY(-0.25rem);

            box-shadow: var(--box-shadow);
        }
    }

    &__card-text {
        padding: var(--padding);
    }

    &__card-title {
        color: var(--color-white);
    }
}
