@import "./style.scss";
@import "./variables.scss";

#blogs {
    grid-area: blogs;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;

    &__text {
        /*layout*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__title {
        /*font*/
        font-size: 3.5rem;
        font-weight: 600;

        @media (width < 700px) {
            font-size: 3rem;
        }

        @media (width < 500px) {
            font-size: 2.5rem;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (width < 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (width < 900px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        border: 0.1rem solid hsl(0, 0%, 10%);
        border-radius: 0.5rem;
        padding: 2rem;
    }

    &__card-image {
        border-radius: 0.5rem;
        img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }

    &__card-text {
        /*layout*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        gap: 2rem;
    }

    &__card-date {
        /*font*/
        font-size: 1.5rem;

        /*color*/
        color: hsl(0, 0%, 39%);
    }

    &__card-title {
        /*font*/
        font-size: 2rem;
        font-weight: 600;

        /*color*/
        color: hsl(0, 0%, 100%);

        @media (width < 700px) {
            font-size: 1.5rem;
        }
    }
}
