.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title {
        margin-bottom: 4rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-card-wrapper);

        @media (width < 1100px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (width < 900px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;

        border: var(--border-glass);
        border-radius: var(--border-radius);
        padding: var(--padding);

        background-color: var(--bg-frosted-white);
    }

    &__card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__card-title {
    }

    &__card-image {
        border-radius: var(--border-radius);
        margin-bottom: 0.5rem;
    }
}
