.footer {
    &__wrapper {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        place-items: center;
        gap: 3rem;

        padding: 3rem 0;

        @media (width <= 1350px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__wrapper-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1rem 0;

        background-color: var(--color-white);

        @media (width <= 350px) {
            display: none;
        }

        p {
            color: var(--color-black);
        }
    }

    &__company {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            color: var(--color-grey);
        }
    }

    &__subheader {
        color: var(--color-white);

        font-weight: 500;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    span {
        transition: var(--transition);

        &:hover {
            color: var(--color-white);
        }
    }
}
