@import "./style.scss";
@import "./variables.scss";

body {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: 4rem auto auto auto;

    min-height: 100vh;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas:
        "about about about"
        "services services services"
        "testimonials testimonials testimonials"
        "projects projects projects"
        "blogs blogs blogs"
        "contact contact contact";
    grid-template-rows: auto;
    row-gap: 15rem;

    @media (width < 700px) {
        row-gap: 8rem;
    }
}

footer {
    grid-area: footer;
}
