nav {
    display: grid;
    place-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

    height: 4rem;
    width: 100vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    &__logo {
        font-size: 1.75rem;
        font-weight: 600;

        color: var(--color-white);
    }

    &__list {
        display: flex;
        gap: 4rem;

        position: relative;

        @media (width < 1000px) {
            display: none;
            flex-direction: column;
            gap: 0;

            position: absolute;
            top: 100%;
            right: 0;
        }
    }

    &__item {
        flex-grow: 1;

        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        @media (width < 1000px) {
            border-radius: 0;
            padding: 0;

            height: 5rem;
        }

        &:hover {
            background-color: hsl(0, 0%, 10%);

            transition: var(--transition);
        }
    }

    &__link {
        font-size: 1rem;
        font-weight: 500;

        color: hsl(0, 0%, 100%);

        @media (width < 1000px) {
            display: flex;
            align-items: center;

            height: 100%;

            padding: 1rem 5rem;
        }
    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (width < 1000px) {
            display: none;
        }
    }
}

.nav__toggle-button {
    display: none;

    @media (width < 1000px) {
        display: inline-block;

        background: transparent;

        font-size: 2rem;

        color: var(--color-white);

        cursor: pointer;
    }
}

#nav__toggle-close {
    @media (width < 1000px) {
        display: none;
    }
}
