.projects {
    &__subtitle {
        margin-bottom: 4rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: var(--gap-card-wrapper-medium);

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }

    &__card {
        border: var(--border-glass);
        border-radius: var(--border-radius);


        overflow: hidden;

        background-color: var(--bg-card);

        cursor: pointer;

        &:hover {
            transform: translateY(-0.5rem);

            box-shadow: var(--box-shadow);
        }
    }

    &__card-image {
        aspect-ratio: 16/9;
    }

    &__card-text {
        padding: var(--padding);
    }

    &__card-title {
        color: var(--color-white);
    }
}
