.services {
    &__paragraph {
        margin-bottom: 4rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: var(--gap-card-wrapper);

        margin-bottom: 3rem;

        @media (width < 500px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: var(--gap-card-wrapper-medium);
        }
    }

    &__card {
        border: var(--border-glass);
        border-radius: var(--border-radius);
        padding: var(--padding-medium);

        background-color: var(--bg-black);

        transition: var(--transition);

        @media (width < 800px) {
            padding: var(--padding);
        }

        &:hover {
            transform: translateY(-0.25rem);

            box-shadow: var(--box-shadow);
        }

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
