.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__paragraph {
        margin-bottom: 4rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-card-wrapper);
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        border: var(--border-glass);
        border-radius: var(--border-radius);
        padding: var(--padding-medium);

        background-color: var(--bg-frosted-white);

        transition: var(--transition);

        @media (width < 800px) {
            padding: var(--padding);
        }

        &:hover {
            background-color: var(--bg-frosted-white-secondary);
        }
    }

    &__card-title {
        margin-top: 1rem;
    }

    .button {
        margin-top: 4rem;
    }
}
