@import "./style.scss";
@import "./variables.scss";

#services {
    grid-area: services;
}

.services {
    /*layout*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    &__text {
        /*layout*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    &__title {
        /*font*/
        font-size: 3.5rem;
        font-weight: 600;

        /*color*/
        color: hsl(0, 0%, 100%);

        @media (width < 700px) {
            font-size: 3rem;
        }

        @media (width < 500px) {
            font-size: 2.5rem;
        }
    }

    &__paragraph {
        /*font*/
        font-size: 1rem;

        /*color*/
        color: $text-light-grey;
    }

    &__cards {
        /*layout*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        gap: 1rem;

        @media (width < 1200px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media (width < 800px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
        }
    }

    &__card {
        border-radius: 0.5rem;
        padding: 1.5rem;

        /*color*/
        background-color: hsl(0, 0%, 10%);

        @media (width < 800px) {
            padding: 1rem;
        }
    }

    &__card-title {
        /*font*/
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__card-paragraph {
        font-size: 1rem;

        /*color*/
        color: hsl(0, 0%, 60%);
    }

    &__buttons-wrapper {
        /*layout*/
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
