:root {
    --color-white: #fff;
    --color-grey: #8a8f98;
    --color-black: #000;

    --bg-black: #1a1a1a;
    --bg-black: #0f0f0f;
    --bg-card: #1d1d1d;

    --shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

    --border-glass: 0.0625rem solid rgba(255, 255, 255, 0.125);
    --border-radius: 0.425rem;
    --padding: 1rem;
    --padding-medium: 2rem;

    --gap-card-wrapper-small: 1rem;
    --gap-card-wrapper: 1.5rem;
    --gap-card-wrapper-medium: 3rem;
    --gap-card-wrapper-large: 4.5rem;

    --color-white: #fff;
    --color-black: #000;
    --color-frosted-white: rgba(255, 255, 255, 0.75);

    --bg-frosted-white: rgba(193, 194, 194, 0.11);
    --bg-frosted-black: rgba(13, 13, 14, 0.5);
    --bg-frosted-white-secondary: rgba(193, 194, 194, 0.3);

    --box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.3);

    --transition: 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;

    min-height: 100vh;

    color: var(--color-white);
    background-color: var(--color-black);
}

header {
    padding-top: 4.5rem;

    @media (width < 600px) {
        padding-top: 3.5rem;
    }
}

section {
    padding: 8.5rem 0;

    @media (width < 600px) {
        padding: 5.5rem 0;
    }
}

img {
    display: block;
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: auto;
}

svg {
    width: 1.25rem;
    height: 1.25rem;
}
