@import "./style.scss";
@import "./variables.scss";

#testimonials {
    grid-area: testimonials;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /*box model*/
        padding: 2rem;
    }
    &__title {
        /*font*/
        font-size: 3.5rem;
        font-weight: 600;

        /*color*/
        color: hsl(0, 0%, 100%);

        @media (width < 700px) {
            font-size: 3rem;
        }

        @media (width < 500px) {
            font-size: 2.5rem;
        }
    }
    &__paragraph {
        /*font*/
        font-size: 1rem;

        /*dimensions*/
        width: 55%;

        /*color*/
        color: hsl(0, 0%, 39%);

        @media (width < 1030px) {
            width: 100%;
        }
    }

    &__cards {
    }
    &__card {
        /*layout*/
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /*box model*/
        border-radius: 0.5rem;
        padding: 6rem 3rem;

        /*position*/
        position: relative;

        /*dimensions*/
        width: 85%;

        /*color*/
        background-color: hsl(0, 0%, 10%);

        @media (width < 700px) {
            width: 100%;

            padding: 3rem;
        }
    }
    &__card-name {
        /*font*/
        font-size: 2.5rem;
        /*color*/
        color: hsl(0, 0%, 100%);

        @media (width < 450px) {
            font-size: 1.5rem;
        }
    }
    &__card-occupation {
        /*font*/
        font-size: 1.5rem;
        /*color*/
        color: hsl(0, 0%, 39%);

        @media (width < 450px) {
            font-size: 1.2rem;
        }
    }
    &__card-paragraph {
        /*box model*/
        border-bottom: 0.2rem solid hsl(0, 0%, 100%);
        padding-bottom: 2.5rem;

        /*dimensions*/
        width: 75%;

        /*font*/
        font-size: 2rem;
        font-weight: 500;

        /*color*/
        color: hsl(0, 0%, 100%);

        @media (width < 1100px) {
            font-size: 1.75rem;
        }

        @media (width < 950px) {
            font-size: 1.5rem;
        }

        @media (width < 700px) {
            font-size: 1.25rem;
            width: 100%;
        }

        @media (width < 450px) {
            font-size: 1rem;
        }
    }

    &__image-wrapper {
        /*dimensions*/
        width: 30rem;

        /*position*/
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50px;

        @media (width < 700px) {
            display: none;
        }
    }

    &__image {
        /*box model*/
        border-radius: 0.5rem;

        /*position*/
        position: absolute;
        left: 80%;
        bottom: 40%;

        /*dimensions*/
        width: 40%;
        max-width: 25rem;
        object-fit: cover;

        @media (width < 700px) {
            width: 100%;

            position: relative;
            left: 0;
            bottom: 0;
        }
    }
}
